.main-banner{
	font-family: var(--heebo);
	background : url("../../assets/img/slider/background-banner.jpg") center / cover;
	position   : relative;
	min-height: 100vh; // Solo para maquetacion
	display: grid;     // Solo para maquetacion
	align-items: center;
	&__Container{
		position: relative;
		z-index: 1;
		@include fromTo(s, l) {
			text-align: center;
			padding-left: 2rem;
		}
		@include from(l) {
			padding-left: 2rem;
		}
	}

	&__Texto1{
		top: 20%;
		margin   : auto;
		color    : $grayColor;
		position : relative;
		font-size: 20px;
		font-weight: bold;
		@include from(m) {
			font-size: 30px;
		}
	}
	&__Texto2{
		top: 13%;
		margin   : auto;
		color    : #fff;
		position : relative;
		font-size: 55px;
		
		.colorFirst{
			color: var(--color-red);
		}
		@include fromTo(ss, m) {
			font-size: 67px;
		}
		@include from(m) {
			font-size: 90px;
		}
	}
	&__Texto3{
		top: 5%;
		margin   : auto;
		color    : $grayColor;
		position : relative;
		font-size: 20px;
		@include from(m) {
			font-size: 30px;
		}
	}

	
	&__Texto4{
		margin-top: 1rem;
		color    : #fff;	
		font-size: 12px;
	}
	&__18{
		margin-left: 1rem;
		color: #fff;
		width: 2rem;
		display: inline-block;
		position: relative;
		top: 8px;
	}
	&__ContainerButton{
		position : relative;
		top: 60%;
	
		@include fromTo(ss, sm) {
			top: 87%;
		}
		@include fromTo(sm, m) {
			top: 87%;
		}
		@include from(m) {
			top: 106%;
		}
		@include from(l) {
			top: 9%;
		}
	}
	&__TextoConBoton{
		border-radius: 10px;
		margin: 2rem 0.5rem;
		font-weight: bold;
		font-size: 27px;
		background-color: var(--color-red);
		
		color: var(--color-text-white);
		padding: 0.5rem 1rem;
		cursor: pointer;
		@include from(m) {
			padding: 0.5rem 3rem;
		}
	}
	&__TextoConBoton:hover{
		text-decoration: none;
		background-color: var(--color-second);
	}

	&__bannerImgContainer{
		display: flex;
		justify-content: center;
		position: relative;
		@include fromTo(s, m) {
			top: -42%;
		}
		@include fromTo(m, l) {
			top: -30%;
		}
	}
	&__bannerImg{
		@include fromTo(s, m) {
			height: 20rem;
			width: 20rem;
		}
		@include fromTo(m, l) {
			height: 28rem;
			width: 28rem;
		}
	}

}
