.main-banner{
	
	z-index: -1;
	background : url("/assets/img/slider/background-banner.jpg") center / cover;
	position   : relative;
	min-height: 100vh; // Solo para maquetacion
	display: grid;     // Solo para maquetacion
	align-items: center;
	&__Texto1{
		margin   : auto;
		color    : #fff;
		position : relative;
	}
	
}
.main-banner::before {
	content    : "";
	background : var(--color-gradient); // remplazalo por el color que desees;
	display    : block;
	position   : absolute;
	width      : 100%;
	height     : 100%;
	opacity    : 0.4; // aquí está la magia
}