.middlenavDesktop{

	background    	: var(--color-body-bg );
	width         	: 100%;
	height			: 13rem;
    position: relative;
    top: -3rem;
    
	@include from(m){
        height	: 19rem;
    }
    @include from(l){
        height	: 9rem;
    }
	.titulos_middleNav{
		text-align: center;
	}
	&__container{
		position: relative;
        
	}
	&__align{
		display: flex;
		padding-right: 1rem;
	}

	&__link{
		align-self: center;
		
	}
	&__logo{
		padding-left: 1rem;
		height: 1.1rem;
		width: auto;
		display: block;
		min-width: 101px;
		min-height: 82.72px;
		@include from(l){
			height: 1.4rem;
		}
	}
	&__menu{
		// text-align: center;
		// display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // padding-right: 2rem;
	}
	&__li{
		
		list-style-type: none;
		display: inline-block;
		position: relative;
		top: -2rem;
		font-weight: bold;
        @include from(sm){
            margin-left: 1em;
        }
        @include from(m){
            margin-left: 2em;
        }
		@include from(l){
            margin-left: 1em;
        }
	}
    
	
	&__anchor:hover{
		text-decoration: none;
		color: var(--rojo);
	}
	&__anchor{
        position: relative;
		color: black;
        text-align: center;
	}
    .bloque{
        display: inline-block;
    }
	.logosMiddleNav{
		height: 7rem;
		width: 7rem;
		position   : relative;
	}
	.logosMiddleNav:hover  {
    	filter: grayscale(100%) brightness(74%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.9);
	}
    @include fromTo(s, m){
        .logosMiddleNav{
            height: 4rem;
            width: 4rem;
        }
    }
	.android{
		@include from(l){
			display: none;
		}
	}

		@import "../hacks/devices-bottom-menu-visibility/footer-layout-galaxy-tables";
		@import "../hacks/devices-bottom-menu-visibility/footer-layout-gallaxy-phones";
		@import "../hacks/devices-bottom-menu-visibility/footer-layout-google-pixel";
		@import "../hacks/devices-bottom-menu-visibility/footer-layout-ipads";
		@import "../hacks/devices-bottom-menu-visibility/footer-layout-iphones";
	
}


