.top-nav {
	
	

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--header-height);
		width: 100%;
		max-width: 1300px;
		padding: 0 15px;
	}
	&__align {
		display: flex;
		flex-wrap: nowrap;
		padding-right: 1rem;
	}

	&__link {
		align-self: center;
	}
	&__logo {
		padding-left: 1rem;
		height: auto;
		width: auto;
		display: block;
		min-width: 101px;
		min-height: 82.72px;
		@include from(m) {
			height: 2rem;
			width: 200px;
		}
		@include fromTo(s, m) {
			width: 80px;
			height: 50px;
		}
	}
	
}

.btn {
	color: var(--second-color);
	padding: 0.5rem 0.5rem;
	border-radius: 5px;
	margin: 0 0.5rem;
	font-weight: bold;
	font-size: 14px;
	@include fromTo(s, m) {
		display: none;
	}
	@include fromTo(s, l) {
		font-size: 10px;
		padding: 0.1rem 0.1rem;
	}

	&__login {
		background-color: var(--rojo);
		border: 1px solid var(--rojo);
		color: var(--second-color);
		padding: 0.5rem 1rem;
		@include fromTo(s, l) {
			padding: 0.5rem 0.3rem;
		}
	}
	&__register {
		background-color: var(--second-color);
		color: var(--color-first);
		border: 1px solid var(--color-first);
		display: flex;
		align-items: center;
		@include fromTo(s, m) {
			display: none;
		}
	}
	&__user {
		margin-left: 0.5em;
		width: 18px;
		height: 18px;
		@include fromTo(s, l) {
			width: 10px;
			height: 10px;
		}
	}
	&__login:hover {
		cursor: pointer;
		background: var(--gray-color);
	}
	&__register:hover {
		cursor: pointer;
	}
}
