div.main-banner
  div.ed-grid.l-grid-2.s-grid-1
    div.main-banner__Container
      p.main-banner__Texto1  sdfs asd asdasda as asaaddqw
      p.main-banner__Texto2   
        span.main-banner__Texto2.colorFirst  dasd 
        |asdd
      p.main-banner__Texto3  sdf asdasdas asdasda asddqw
        br
        | as asdda asd asdasadasdaqwe
      div.main-banner__ContainerButton
        a(href="#").main-banner__TextoConBoton Botton a asdad >  
        div.main-banner__downContainer
          p.main-banner__Texto4 asdf adfsafas asdfasda asdfsdfa asdfsa asdf
            img.main-banner__18(src="assets/img/icon_18.png", alt="")
    div.main-banner__bannerImgContainer
      img.main-banner__bannerImg(src="assets/img/Home-page/slider/Player_soccer.png", alt="soccer")

        