<nav class="bottom-nav">
  <div class="bottom-nav__container">
    <ul class="bottom-nav__menu">
      <li class="bottom-nav__li"><a class="bottom-nav__anchor" href="./" name="home"><i class="fab fa-chrome"><span>Home</span></i></a></li>
      <li class="bottom-nav__li"><a class="bottom-nav__anchor" href="page2.html" name="page2"><i class="fab fa-chrome"><span>Page2</span></i></a></li>
      <li class="bottom-nav__li"><a class="bottom-nav__anchor" href="page3.html" name="page3"><i class="fab fa-chrome"><span>Page3</span></i></a></li>
      <li class="bottom-nav__li"><a class="bottom-nav__anchor" href="page4.html" name="page4"><i class="fab fa-chrome"><span>Page4</span></i></a></li>
      <li class="bottom-nav__li"><a class="bottom-nav__anchor" href="page5.html" name="page5"><i class="fab fa-chrome"><span>Page5</span></i></a></li>
    </ul>
  </div>
</nav>
