nav(class='bottom-nav')
	div(class='bottom-nav__container')
		ul(class='bottom-nav__menu')
			li(class='bottom-nav__li'): a(href='./', 			class='bottom-nav__anchor'): i(class='fab fa-chrome'): span Home
			li(class='bottom-nav__li'): a(href='page2.html',    class='bottom-nav__anchor'): i(class='fab fa-chrome'): span Page2
			li(class='bottom-nav__li'): a(href='page3.html',    class='bottom-nav__anchor'): i(class='fab fa-chrome'): span Page3
			li(class='bottom-nav__li'): a(href='page4.html',    class='bottom-nav__anchor'): i(class='fab fa-chrome'): span Page4
			li(class='bottom-nav__li'): a(href='page5.html',    class='bottom-nav__anchor'): i(class='fab fa-chrome'): span Page5
