nav.bottom-nav
  .bottom-nav__container
    ul.bottom-nav__menu
      li.bottom-nav__li
        a.bottom-nav__anchor(href='./' name='home')
          i.fab.fa-chrome
            span Home
      li.bottom-nav__li
        a.bottom-nav__anchor(href='page2.html' name='page2')
          button.middleNav__mb-iconMenu.hamburger.hamburger--slider-r(type='button')
            span.hamburger-box
              span.hamburger-inner
      li.bottom-nav__li
        a.bottom-nav__anchor(href='page3.html' name='page3')
          i.fab.fa-chrome
            span Page3