nav.middlenavDesktop
  .middlenavDesktop__container
      div.middlenavDesktop__menu.ed-grid.rows-gap.s-grid-4.l-grid-7
        li.middlenavDesktop__li
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Deportes.png' alt='icon')
                strong.titulos_middleNav Deportes
        li.middlenavDesktop__li
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/caballos.png' alt='icon')
                strong.titulos_middleNav Caballos
        li.middlenavDesktop__li
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/casino.png' alt='icon')
                strong.titulos_middleNav Casino
        li.middlenavDesktop__li.w
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/apuestas-en-vivo.png' alt='icon')
                strong.titulos_middleNav.fix
                | Apuestas 
                br
                |  en vivo
        li.middlenavDesktop__li.w
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Apuestas-virtuales.png' alt='icon')
                strong.titulos_middleNav.fix
                | Apuestas 
                br
                |  virtuales
        li.middlenavDesktop__li
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/concurso.png' alt='icon')
                strong.titulos_middleNav Concurso
        li.middlenavDesktop__li
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Banca.png' alt='icon')
                strong.titulos_middleNav Banca
        li.middlenavDesktop__li.android
          a.middlenavDesktop__anchor(href='page2.html')
            div.bloque
                img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/android.png' alt='icon')
                strong.titulos_middleNav.fix.Android
                | Descargar 
                br
                |  El App
