nav.middlenav
  .middlenav__container
      ul.middlenav__menu
        li.middlenav__li
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Deportes.png' alt='icon')
            strong.titulos_middleNav Deportes
        li.middlenav__li
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='../../assets/img/Home-page/Menu_Icons/Menu_principal/Caballos.png' alt='icon')
            strong.titulos_middleNav Caballos
        li.middlenav__li
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/casino.png' alt='icon')
            strong.titulos_middleNav Casino
        li.middlenav__li.w
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/apuestas-en-vivo.png' alt='icon')
            strong.titulos_middleNav
              | Apuestas 
              br
              |  en vivo
        li.middlenav__li.w
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Apuestas-virtuales.png' alt='icon')
            strong.titulos_middleNav
              | Apuestas 
              br
              |  virtuales
        li.middlenav__li
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/concurso.png' alt='icon')
            strong.titulos_middleNav Concurso
        li.middlenav__li
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/Banca.png' alt='icon')
            strong.titulos_middleNav Banca
        li.middlenav__li.android
          a.middlenav__anchor(href='page2.html')
            img.logosMiddleNav(src='assets/img/Home-page/Menu_Icons/Menu_principal/android.png' alt='icon')
            strong.titulos_middleNav
              | Descargar 
              br
              |  El App
include ../components/middleNavDesktop375