div.promoDescargar
    .ed-container
    .ed-grid.s-grid-1.m-grid-2.rows-gap
        a(href='#')
            div.promoDescargar__container
                div.promoDescargar__textContainer
                    p.promoDescargar__texto1 PROMOCIONES
                    p.promoDescargar__texto2 Ver Todas Las
                        br
                        | Promociones >
                div.promoDescargar__images
                    img(src='assets/img/regalo.png', alt="caja")
        a(href='#')
            div.promoDescargar__container
                div.promoDescargar__textContainer
                    p.promoDescargar__texto1 DESCARGA EL APP
                    p.promoDescargar__texto2 Tu aplicación para
                        br
                        | dispositivos Android >             
                div.promoDescargar__images
                    img(src='assets/img/android.png', alt="android")
