section(class='slider-container')
    div(class='ed-container')
        div(class='tittle')
            h2 METODOS DE PAGO
    div(class='tns-carousell2' id='tnsCarousell2')
        div: div(class='tns-carousell2__content'): span 1
        div: div(class='tns-carousell2__content'): span 2 
        div: div(class='tns-carousell2__content'): span 3 
        div: div(class='tns-carousell2__content'): span 4
        div: div(class='tns-carousell2__content'): span 5
        div: div(class='tns-carousell2__content'): span 6
        div: div(class='tns-carousell2__content'): span 7
        div: div(class='tns-carousell2__content'): span 8
        div: div(class='tns-carousell2__content'): span 9
        div: div(class='tns-carousell2__content'): span 10  
