section(class='slider-container alinear')
    div(class='ed-container')
        div(class='tittle')
            h2 APUESTAS
    div(class='tns-carousell' id='tnsCarousell')
        div: div(class='tns-carousell__content') 
            div
                p.tns-carousell__text APUESTAS
                    br
                    | DE FUTBOL
                a(href = "#").tns-carousell__boton VER LINEAS
            div 
                img(class='tns-carousell__jugador' src="/assets/img/Home-page/seccion-apuestas/jigador-amarillo.png", alt="")
        div: div(class='tns-carousell__content')
            div
                p.tns-carousell__text APUESTAS
                    br
                    | DE FUTBOL
                a(href = "#").tns-carousell__boton VER LINEAS
            div 
                img(class='tns-carousell__jugador' src="/assets/img/Home-page/seccion-apuestas/jugador-verde.png", alt="")
        div: div(class='tns-carousell__content') 
            div
                p.tns-carousell__text APUESTAS
                    br
                    | DE FUTBOL
                a(href = "#").tns-carousell__boton VER LINEAS
            div 
                img(class='tns-carousell__jugador' src="/assets/img/Home-page/seccion-apuestas/baseball-player.png", alt="")
        div: div(class='tns-carousell__content')
            div
                p.tns-carousell__text APUESTAS
                    br
                    | DE FUTBOL
                a(href = "#").tns-carousell__boton VER LINEAS
            div.tns-carousell__normal
                img(class='tns-carousell__jugador' src="/assets/img/Home-page/seccion-apuestas/ufc.png", alt="")
        div: div(class='tns-carousell__content')
            div
                p.tns-carousell__text APUESTAS
                    br
                    | DE FUTBOL
                a(href = "#").tns-carousell__boton VER LINEAS
            div.tns-carousell__normal
                img(class='tns-carousell__jugador' src="/assets/img/Home-page/seccion-apuestas/tennis.png", alt="")
    


