nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/img1.jpg', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='./', 			class='top-nav__anchor' name='home') Home
			li(class='top-nav__li'): a(href='page2.html', 	class='top-nav__anchor' name='page2') Page2
			li(class='top-nav__li'): a(href='page3.html', 	class='top-nav__anchor' name='page3') Page3
			li(class='top-nav__li'): a(href='page4.html', 	class='top-nav__anchor' name='page4') Page4
			li(class='top-nav__li'): a(href='page5.html', 	class='top-nav__anchor' name='page5') Page5
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner

