nav.top-nav
  .top-nav__container
    .top-nav__align
      a.top-nav__link(href='./')
        img.top-nav__logo(src='assets/img/LogoPerubet.png' alt='')
    .top-nav__align
      button.btn.btn__login REGÍSTRATE
      button.btn.btn__register
        | INICIAR SESIÓN
        img.btn__user(src='assets/img/user.png' alt='user')
