extends ../config/template
append config
	-currentPage		= "PeruBet"
	-siteName			= 'home'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	include ../components/banner1
block main-container
	include ../components/promoDescargar
	include ../components/tns-sliderApuestas
	include ../components/tns-sliderMetodosPago
block main-footer
block scripts
