//layout
:root {
  --header-height 		: 3rem;
  @include from(l) {
    --header-height 	: 6rem;
  }

	//native color vars
	--color-first      	: #007BDF;
	--color-second     	: #009D3D;
	--color-red     	: #DA0000;
	--color-accent     	: #00742D;
	--color-dark       	: #2D2D2D;
	--color-border     	: #DFE0E0;
	--color-gradient    : linear-gradient(0deg, rgba(221,46,40,1) 0%, rgba(0,0,0,1) 100%);;
	--color-text-white	: #FFFFFF;
	--color-text-gray	: #131313;
	--color-body-bg 	: #FFF5E6;

	//Native z-index vars
	--z-back    		: -10;
	--z-normal  		: 1;
	--z-tooltip 		: 10;
	--z-fixed   		: 100;
	--z-modal   		: 1000;
}




// Sass Color Vars
$color-first 			: var(--color-first			);
$color-second 			: var(--color-second		);
$color-red 			: var(--color-red			);
$color-accent 			: var(--color-accent		);
$color-dark 			: var(--color-dark			);
$color-border 			: var(--color-border		);
$color-gradient 			: var(--color-gradient			);
$color-text-white 		: var(--color-text-white	);
$color-text-gray 		: var(--color-text-gray		);
$color-body-bg 			: var(--color-body-bg		);

$body-font    : Lato,        'sans-serif';
//Sass z-index vars
$z-back    				: var(--z-back				);
$z-normal  				: var(--z-normal			);
$z-tooltip 				: var(--z-tooltip			);
$z-fixed   				: var(--z-fixed				);
$z-modal   				: var(--z-modal				);


// Images path
$images-path: 'https://ux.ed.team/img';


// Colors
$firstColor  : #007BDF;
$secondColor : #00CBFF;
$redColor    : #DA0000;
$accentColor : #FBA905;
$darkColor   : #000000;
$grayColor 	 : #979797;

// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;
